<!--Main Sidebar Container-->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!--Brand Logo-->
  <%= link_to admin_root_path, class:"navbar-brand bg-dark d-flex align-items-center justify-content-center m-0" do
    concat image_pack_tag 'logo.png', class: 'brand-image', alt: "Logo", style: "height: 2rem;"
  end %>
  <div class="sidebar">
    <!--Sidebar Menu-->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
        <li class="nav-item">
          <%= link_to admin_root_path, class: "nav-link #{admin_active_for(admin_root_path, current_path)}" do
            fa_icon "tachometer-alt nav-icon", text: "Dashboard"
          end %>
        </li>
        <li class="nav-item">
          <%= link_to "#", class: "nav-link" do
            fa_icon "th nav-icon", text: "Menu"
          end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>