<!--Main Sidebar Container-->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!--Brand Logo-->
  <%= link_to admin_root_path, class:"brand-link" do
    concat image_pack_tag 'logo.png', class: 'brand-image img-circle elevation-3'
    concat '<span class="brand-text font-weight-light">Dashboard</span>'
  end %>
  <div class="sidebar">
    <!--Sidebar Menu-->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
        <li class="nav-item">
          <%= link_to admin_root_path, class: "nav-link #{admin_active_for(admin_root_path, current_path)}" do
            capture '<i class="nav-icon fas fa-tachometer-alt"/>'
            capure '<span>Dashboard</span>'
          end %>
        </li>
        <li class="nav-item">
          <%= link_to "#", class: "nav-link" do
            capture '<i class="nav-icon fas fa-th"/>'
            capure '<span>Menu</span>'
          end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>